:root{
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    --main-color:#32195E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    height: 400px;
    background-image: url("images/Mask\ Group\ 1.png");
    background-color: hsla(52, 29%, 69%, 0.26);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/*Navigation Bar*/

.nav-bar{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.links-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
}

.logo{
    justify-content: flex-start;
    display: flex;
    flex: 1;
}

.links{
    list-style: none;
}

.links-list>li>a{
    font-size: 1rem;
    text-decoration: none;
    padding: 0.8rem;
    color: black;
    font-weight: 400;
}

#signUp{
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    background-color: var(--main-color);
}

.hamburger-container{
    
    width: auto;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.hamburger-links-list{
    position: absolute;
    background-color: var(--main-color);
    border-radius: 5%;
    top: 55px;
    right: 25px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 120px;
    padding: 0.4rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    transform: translateY(20px);
    transition: all 0.5s linear;
}
.hamburger-links-list>li>a{
    color: white;
}
.hamburger-btn{
    height: 3px;
    width: 25px;
    border-radius: 12px;
    background-color: black;
}
.hamburger-btn::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 25px;
    border-radius: 12px;
    background-color: black;
    transform: translateY(6px);
    transition: transform 1s ease-in-out;
}
.hamburger-btn::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 25px;
    border-radius: 12px;
    background-color: black;
    transform: translateY(-6px);
    transition: transform 1s ease-in-out;
}
.hamburger-container:focus .hamburger-btn::after{
    transform: rotateZ(45deg);
}
.hamburger-container:focus .hamburger-btn::before{
    transform: rotateZ(-45deg);
}
.hamburger-container:focus .hamburger-btn{
    background-color: transparent;
}
.hamburger-container:focus .hamburger-links-list{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}
.links{
    transition: transform 0.3s ease-in-out;
}
.links:hover{
    transform: scale(1.2);
}

/* Title text */

.titles{
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 10rem;
    z-index: 1;
}

.price-title{
    font-weight: 700;
    font-size: 3rem;
}

.sub-text{
    font-weight: 100;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
}

.highlighted-text{
    font-weight: 700;
    color: #078A71;
}

/*Products*/
.offers{
    margin-top: 5rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,280px));
    grid-gap:2rem;
    padding: 3rem;
    justify-content: center;
}

.starter-plan,.pro-plan,.advanced-plan{
    border: 1px solid black;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

.version-text{
    font-weight: 700;
}

.prices{
    margin-top: 1rem;
}

.prices>h4{
    font-weight: 700;
    font-size: 1.5rem;
}

.prices>p{
    font-weight: 100;
    font-size: 0.6rem;
}

.cta-start{
    padding: 0.5rem 1rem;
    color: white;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 4px;
    margin-top: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.features{
    margin-top: 1rem;
}

.features>p{
    font-size: 0.9rem;
    margin-top: 0.7rem;
    display: flex;
}

.features>p::before{
    content: url('images/checkmark-onwhite.png');
    height: auto;
    width: auto;
    margin-right: 0.4rem;
    background-color: #C4B9D1;
    border-radius: 50%;
    padding:0.3rem;
    align-self: flex-start;
}

/*Middle product cart styles*/
.advanced-plan{
    background-color: var(--main-color);
}

.advanced-plan>.version-text{
    color: white;
}

.advanced-plan>.prices{
    color: white;
}

.advanced-plan>.cta-start{
    background-color: white;
    font-weight: 700;
    color: var(--main-color);
    cursor: pointer;
}

.advanced-plan>.features{
    color: white;
}

.advanced-plan>.features>p::before{
    content: url('images/checkmark-purple.png');
    background-color: white;
    color: white;
}

/*Media queries*/

@media (max-width:958px){
    :root{
        font-size: 17px;
    }
}

@media (max-width:800px){
    .titles{
        margin-top: 7rem;
    }

    #signUp{
        font-size: 0.9rem;
    }
    .nav-bar{
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }
    
    .price-title{
        font-size: 2.5rem;
    }
}

@media(max-width:710px){
    .price-title{
        font-size: 2.3rem;
    }
    .hamburger-container{
        display: flex;
    }
    .hide-links{
        display: none;
    }
    #signUp{
        margin-right: 20px;
    }
}

@media (max-width:500px){  
    :root{
        font-size: 16px;
    }
    #signUp{
        font-size: 0.7rem;
    }

    .sub-text{
        font-size: 1.1rem;
    }

}
